<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/hello.css" rel="stylesheet" th:href="@{/css/hello.css}"/>
</head>

<body>
    <img class="image-kirby" th:src="@{/assets/30stars.png}" src="../static/assets/30stars.png" alt=""/>
    <h1>Welcome to our kirby store!</h1>

</body>

</html>
