<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KirbyMania</title>
  <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
  
</head>
<body>
  <header class="striped-header">
  </header>

  <div class="logo-kirby-ent">
    <div class="log-img-K">
      <img src="../static/assets/kirbyimg.png" th:src="@{/assets/kirbyimg.png}" alt="Logo do Kirby">
    </div>
  </div>

  <!-- Div animada no final da tela -->
  <div class="footer-animation"></div>
</body><script src="../static/scripts/estrelinha.js" th:src="@{/scripts/estrelinha.js}"></script>
</html>
