<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kirby Shop</title>
    <link rel="stylesheet" href="../static/css/loja.css" th:href="@{/css/loja.css}">
</head>
<body>
<header class="header">
    <img src="../static/assets/pngwing.com__1_-removebg-preview.png" th:src="@{/assets/pngwing.com__1_-removebg-preview.png}" alt="Kirby Shop Logo" class="logo">
</header>

<div class="container">
    <div class="message-box">
        <h2 th:text="'Bem vindo ao KirbyMania! - Categoria: '+ ${categoria.toString().toLowerCase()}">Bem vindo a loja do kirby </h2>
        <p>Encontre os melhores produtos do seu personagem favorito!</p>
    </div>

    <div class="product-grid">
        <div class="product-card" th:each="product : ${listaProdutos}">
            <img th:src="@{/assets/kirbyimg.png}" alt="Product Image" class="product-image">
            <h3 class="product-title" th:text="${product.nome}">Kirby Plush</h3>
            <p class="product-price" th:text="${product.price}">$24.99</p>
            <form th:action="@{/add-to-cart}" method="post">
                <input type="hidden" name="productId" th:value="${product.id}">
                <button type="submit" class="buy-button">Add to Cart</button>
            </form>
            <form th:action="@{/products/delete-product}"  method="post">
                <input type="hidden" name="productId" th:value="${product.id}">
                <input type="hidden" name="productCategory" th:value="${product.categoria.toString()}">
                <button type="submit" class="delete-button">Delete</button>
            </form>
        </div>
    </div>

    <div class="cart-summary">
        <a th:href="@{/cart}" class="checkout-button">Ir para o Carrinho</a>
    </div>
    <a th:href="@{/admin}" class="adm-leva"> Ir para Administração</a>

</div>
</div>

<script src="../static/scripts/loja.js" th:src="@{/scripts/loja.js}"></script>
</body>
</html>
